@import './reset.css';
@import './common.css';

/* HEADER*/
.header{ position:fixed; top: 0px;left: 0;z-index: 99;  ;width: 100%;}
.header .common-inner{transition: all 0.3s; height: 90px; width: 100%; margin-top: 20px; padding:0 10px}
.header .common-inner.on{height: 80px; }
.header .hd-inner{padding:0 35px; display: flex;background-color: #fff;align-items: center;justify-content: center; width: 100%;position: relative;height: 100%; border-radius: 60px; min-width: 980px}
.header .logo{position: absolute; width: 60px; height: 60px;  left:20px;}
.header .logo a{ width: 100%; height: 100%; }
.header .logo svg{width: 100%; height: 100%; }
.header .gnb .nav-list{display: flex; align-items: center; margin-left: 106px}
.header .nav-items{margin-left: 25px; padding:0 8px;position: relative; }



.header .nav-pro:hover{
    color:#3067ec; 
    background: url(../images/header/blue-arrow.svg) no-repeat;  
    background-position: 60px 0;
}
.header .nav-pro{
    display:block;
    width:88px;
    background: url(../images/header/arrow.svg) no-repeat; 
    background-position: 60px 0;
}
.header .nav-sol{
    display: block; 
    width:88px;
    background: url(../images/header/arrow.svg) no-repeat; 
    background-position: 60px 0;
}
.header .nav-sol:hover{ 
    color:  #3067ec; 
    background: url(../images/header/blue-arrow.svg) no-repeat;  
    background-position: 60px 0;
}
.header .nav-list .nav-items .nav:hover{ color:  #3067ec; }
.header .inner .link-login{
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 8px;}
.header .language-nav{position: relative;}
.header .language-box{
    display: block;
    background: url(../images/header/arrow.svg) no-repeat; 
    background-position: 50px 10px; 
    height: 46px; width: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: -40px;
    border-radius: 8px;}
.header .language-box:hover{
    color:#3067ec;
    background: url(../images/header/blue-arrow.svg) no-repeat; 
    background-position: 50px 10px; }

.header .nav-items a{font-weight: 500;font-size: 18px; }
.header .auth-area{background: white; display: flex; gap: 24px;justify-content: center; align-items: center;margin-left: auto;}
.header .language{display: flex;gap:33px; align-items: center;}
.header .language a{font-size: 18px;}
.header .link-membership:hover{border: 2px solid #000; background-color: #fff; color: #000;}
.header .link-membership{
    transition: all .25s ease-out;
    height: 48px;
    background: #222;
    border-radius: 5.2023121387vw;
    width: 191px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;}

/* footer*/
.footer .ft-top .common-inner{ width: 100%;padding:100px 0;height: 431px; position: relative; color: white;display: flex;}
.footer .ft-right{ width: 300px; height: 100%; display: flex; justify-content: center;}
.footer .ft-left{ flex:1; height: 100%;}
.footer .group-link{display: flex;height: 100%;}
.footer .link-area{display:flex;flex-direction:column; flex: 1;font-size: 20px; font-weight: 700; align-items: center;}
.footer .group-link .sns-area{ flex: 1;  font-size: 20px; font-weight: 700; display: flex; flex-direction: column; align-items: center;}
.footer .group-link .policy-area{flex: 1;  font-size: 17px;font-weight: 700; display: flex;flex-direction: column;align-items: center;}
.footer .link-area a{height: 35px;line-height: 35px;display: block;}
.footer .link-area a+a{margin-top: 12px;}
.footer .policy-area a{display: block;height: 35px; line-height: 35px;}
.footer .policy-area a+a{margin-top: 12px;}
.footer .policy-area .privacy{font-weight: 700; color: #fff;}
.footer .sns-area a{display: flex; gap: 8px; height: 35px;line-height: 35px; align-items: center;}
.footer a{transition: all .25s ease-out;}
.footer a:hover{opacity: 0.5;}
.footer .sns-area a+a{ margin-top: 12px;}








